.searchBtn {
    background-color: rgb(155, 56, 32);
    letter-spacing: 1.5px;
    color: #fff; 
}

label {
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0.8px;
}

input {
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0.6px;
    font-size: 26px;
}